
@model IEnumerable<WebApplicationMVC.Models.Attributes>
 
<h2>Файл</h2>
<table class="table">
     <tr><th>КодФайла</th><th>Название</th><th>Описание</th><th>КодТипаФайла</th><th>КодПапки</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.objectId</td>
            <td>@item.name</td>
            <td>@item.value</td>
        </tr>
    }
</table>