<form method="post">
    <p>
        <label>Логин:</label><br />
        <input type="text" name="login" />
    </p>
 
    <p>
        <label>Пароль:</label><br />
        <input type="password" name="password" />
    </p>
 
    <p>
        <label>Возраст:</label><br />
        <input type="number" name="age" />
    </p>
 
    <p>
        <label>Комментарий:</label><br />
        <textarea name="comment"></textarea>
    </p>
 
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>