<h2>Ввод данных</h2>
<form method="post">
    <p>
        <label>Сумма займа:</label><br />
        <input type="number" name="Summa" />
    </p>
    <p>
        <label>Срок займа:</label><br />
        <input type="number" name="Long" />
    </p>
    <p>
        <label>Ставка:</label><br />
        <input type="number" name="Procent" />
    </p>
    <p>
        <label>Comment:</label><br />
        <textarea name="Name"></textarea>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>