
@model IEnumerable<WebApplicationMVC.Models.File>
 


    @foreach (var item in Model)
    {
        <h2>Содержимое файла: @item.namefile</h2>
        <div>
            @item.Content
        </div>
    }
