@model IEnumerable<WebApplicationMVC.Models.Папка>
 
<h2>Список пользователей</h2>
<p><a asp-action="Create">Добавить пользователя</a></p>
<table class="table">
     <tr><th>Имя</th><th>Возраст</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Название</td>
            <td>@item.КодРодительскойПапки</td>
        </tr>
    }
</table>