
@model IEnumerable<WebApplicationMVC.Models.Objects>
 
<h2>Добро пожаловать в тестовую программу Проводник</h2>
<p><a asp-action="Create">Добавить папку</a></p>
<table class="table">
     <tr><th>КодПапки</th><th>Название</th><th>КодРодительскойПапки</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.type</td>
            <td>@item.product</td>
        </tr>
    }
</table>