

<h2>Основной ввод данных</h2>
<form method="post" action="/Home/Client">
    <p>
        <label>Сумма займа:</label><br />
        <input type="number" name="Summa" value="10"/>
    </p>
    <p>
        <label>Срок займа:</label><br />
        <input type="number" name="Long" />
    </p>
    <p>
        <label>Ставка:</label><br />
        <input type="number" name="Procent" />
    </p>
    <p>
        <label>Comment:</label><br />
        <textarea name="Name"></textarea>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>