@model WebApplicationMVC.Models.Client

<h2>Введите параметры для формирования аннуитентного платежа:</h2>
<form method="post" action="/Home/Client">
    <div class="col-md-2">
    <p>
            <label asp-for="Summa"class="control-label">Ставка:</label><br />
            <input type="number" asp-for="Summa" class="form-control" value="10000"/>
            <span asp-validation-for="Summa" class="text-danger"></span>
    </p>
    <p>

            <label asp-for="Long"class="control-label">На сколько месяцев займем?:</label><br />
            <input type="number" asp-for="Long" class="form-control" value="12"/>@*value="12"/> теперь =15 потому что прописал при описании класса*@
            <span asp-validation-for="Long" class="text-danger"></span>
    </p>
    <p>
            <label asp-for="Stavka"class="control-label">По какой ставке?:</label><br />
            <input type="number" asp-for="Stavka" class="form-control" value="12"/>
            <span asp-validation-for="Stavka" class="text-danger"></span>
    </p>
    <p>
        <div class="form-group">
            <label asp-for="Name"class="control-label">Name</label><br />
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");//без этого не работает валидация 
}
}

