
 @model WebApplicationMVC.Models.ListObj

@*
*@

<ul id="tree">
    @foreach (var item in Model.LObj)
    {
            //Console.WriteLine("отладка Seed=:"+Model.Seed);
            @if (item.id == Model.Seed)
            {
                WebApplicationMVC.Models.ListObj inner = new WebApplicationMVC.Models.ListObj 
                { 
                   Seed = item.id, 
                   LObj = Model.LObj 
                };
            <li>
                <span parent-id="@item.id">
                        <a href="#"  onclick="expand(this)">@item.product</a>
                </span>
                @Html.Partial("Objects", inner)
            </li>
            }
    }
</ul>
  <script>
    //var tree=document.getElementById('tree');

    function expand(elem) 
    {
    var li = $(elem).parents('li')[0];
    var ul = $(li).children('ul')[0];
    $(ul).css('display') == 'none' ? $(ul).show() : $(ul).hide();
    }
  </script>
