@model Objects
@{
    ViewData["Title"] = "Удалить папку";
}

<h1>Удалить папку</h1>


 
<h2>Введите параметры :</h2>
<form method="post"> @*action="/Home/Client"> метод пост чтоб уверенно удалять и по всем параметрам надо в сумме удалять - ToDo*@
    <div class="col-md-2">
    <p>
            <label asp-for="id"class="control-label">Номер папки в базе:</label><br />
            <input type="number" asp-for="id" class="form-control" value="2"/>
            <span asp-validation-for="id" class="text-danger"></span>
    </p>
    <p>
        <input type="submit" value="Удалить" class="btn btn-primary"/>
    </p>
    </div>
</form>
