@model Объединенная
@{
    ViewData["Title"] = "Переименовать";
}

<h1>Переименовать папку</h1>


<h2>Введите параметры папки:</h2>

<form method="post"> @*action="/Home/Client"> метод пост чтоб уверенно удалять и по всем параметрам надо в сумме удалять - ToDo*@
    <div class="col-md-2">
    <p>
            <label asp-for="ПапкаИзОбъединенной.codefolder"class="control-label">Номер папки в базе:</label><br />
            <input type="number" asp-for="ПапкаИзОбъединенной.codefolder" class="form-control"/>
            <span asp-validation-for="ПапкаИзОбъединенной.codefolder" class="text-danger"></span>
    </p>
    <p>
        <input type="submit" value="Получить" class="btn btn-primary"/>
    </p>
    </div>
</form>

<form asp-action="UpdateFolder" asp-controller="home" >
    <p>
           <div class="form-group">
                <label asp-for="ПапкаИзОбъединенной.codefolder" class="control-label"></label>
                <input asp-for="ПапкаИзОбъединенной.codefolder" class="form-control" />
                <span asp-validation-for="ПапкаИзОбъединенной.codefolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ПапкаИзОбъединенной.name" class="control-label"></label>
                <input asp-for="ПапкаИзОбъединенной.name" class="form-control" />
                <span asp-validation-for="ПапкаИзОбъединенной.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ПапкаИзОбъединенной.codeparentfolder" class="control-label"></label>
                <input asp-for="ПапкаИзОбъединенной.codeparentfolder" class="form-control" />
                <span asp-validation-for="ПапкаИзОбъединенной.codeparentfolder" class="text-danger"></span>
            </div>
    </p>
    <p>
        <input type="submit" value="Переименовать" class="btn btn-primary"/>
    </p>
</form>


<h2>Введите параметры файла:</h2>
<form method="post">
    <div class="col-md-2">
    <p>
            <label asp-for="ФайлИзОбъединенной.codefile"class="control-label">Номер файла в базе:</label><br />
            <input type="number" asp-for="ФайлИзОбъединенной.codefile" class="form-control"/>
            <span asp-validation-for="ФайлИзОбъединенной.codefile" class="text-danger"></span>
    </p>
    <p>
        <input type="submit" value="Получить" class="btn btn-primary"/>
    </p>
    </div>
</form>

<form asp-action="UpdateFile" asp-controller="home" >
    <p>
        <label asp-for="ФайлИзОбъединенной.namefile">Название файла</label><br />
        <input type="text" asp-for="ФайлИзОбъединенной.namefile" />
    </p>
    <p>
        <label asp-for="ФайлИзОбъединенной.codefile">Код файла</label><br />
        <input type="text" asp-for="ФайлИзОбъединенной.codefile" />
    </p>
    <p>
        <label asp-for="ФайлИзОбъединенной.about">Описание файла</label><br />
        <input type="text" asp-for="ФайлИзОбъединенной.about" />
    </p>
    <p>
        <label asp-for="ФайлИзОбъединенной.codetypefolder">Код типа файла</label><br />
        <input type="text" asp-for="ФайлИзОбъединенной.codetypefolder" />
    </p>
    <p>
        <label asp-for="ФайлИзОбъединенной.codefolder">Код папки где находится файл</label><br />
        <input type="text" asp-for="ФайлИзОбъединенной.codefolder" />
    </p>
    <p>
        <label asp-for="ФайлИзОбъединенной.Content">Контент файла</label><br />
        <input type="text" asp-for="ФайлИзОбъединенной.Content" />
    </p>
    <p>
        <input type="submit" value="Переименовать" class="btn btn-primary"/>
    </p>
</form>