@model United
@{
    ViewData["Title"] = "Переименовать";
}

<h1>Переименовать папку</h1>


<h2>Введите параметры папки:</h2>

<form method="post"> @*action="/Home/Client"> метод пост чтоб уверенно удалять и по всем параметрам надо в сумме удалять - ToDo*@
    <div class="col-md-2">
    <p>
            <label asp-for="ObjFromUnited.id"class="control-label">Номер папки в базе:</label><br />
            <input type="number" asp-for="ObjFromUnited.id" class="form-control"/>
            <span asp-validation-for="ObjFromUnited.id" class="text-danger"></span>
    </p>
    <p>
        <input type="submit" value="Получить" class="btn btn-primary"/>
    </p>
    </div>
</form>

<form asp-action="UpdateFolder" asp-controller="home" >
    <p>
           <div class="form-group">
                <label asp-for="ObjFromUnited.id" class="control-label"></label>
                <input asp-for="ObjFromUnited.id" class="form-control" />
                <span asp-validation-for="ObjFromUnited.id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjFromUnited.type" class="control-label"></label>
                <input asp-for="ObjFromUnited.type" class="form-control" />
                <span asp-validation-for="ObjFromUnited.type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjFromUnited.product" class="control-label"></label>
                <input asp-for="ObjFromUnited.product" class="form-control" />
                <span asp-validation-for="ObjFromUnited.product" class="text-danger"></span>
            </div>
    </p>
    <p>
        <input type="submit" value="Переименовать" class="btn btn-primary"/>
    </p>
</form>


<h2>Введите параметры файла:</h2>
<form method="post">
    <div class="col-md-2">
    <p>
            <label asp-for="AttrFromUnited.objectId"class="control-label">Номер файла в базе:</label><br />
            <input type="number" asp-for="AttrFromUnited.objectId" class="form-control"/>
            <span asp-validation-for="AttrFromUnited.objectId" class="text-danger"></span>
    </p>
    <p>
        <input type="submit" value="Получить" class="btn btn-primary"/>
    </p>
    </div>
</form>

<form asp-action="UpdateFile" asp-controller="home" >
    <p>
        <label asp-for="AttrFromUnited.name">Название файла</label><br />
        <input type="text" asp-for="AttrFromUnited.name" />
    </p>
    <p>
        <label asp-for="AttrFromUnited.objectId">Код файла</label><br />
        <input type="text" asp-for="AttrFromUnited.objectId" />
    </p>
    <p>
        <label asp-for="AttrFromUnited.value">Описание файла</label><br />
        <input type="text" asp-for="AttrFromUnited.value" />
    </p>
    <p>
        <input type="submit" value="Переименовать" class="btn btn-primary"/>
    </p>
</form>