@model WebApplicationMVC.Models.ListUnited
@{
    Layout = null; // Устанавливаем значение Layout в null, чтобы не использовать макет
}




        <ul id="tree" >

                @foreach (var item in Model.LUnited)
                {
                Console.WriteLine("отладка: родитель=:"+item.LinksFromUnited.parentId+", дитя"+item.LinksFromUnited.childId);
        
                        @if ( Model.Seed == item.LinksFromUnited.parentId ) //если родительская ветвь корень в этой рекурсии то вызовем сдедующую рекурсию 
                                                                                            //для ветви ребенка и нарисуем ветвь родителя
                        {
                             @if (Model.NowElement == null || Model.NowElement != item.LinksFromUnited.childId) 
                             {
                                Model.NowElement = item.LinksFromUnited.childId;

                                WebApplicationMVC.Models.ListUnited inner = new WebApplicationMVC.Models.ListUnited
                                    {
                                        Seed = item.LinksFromUnited.childId,
                                        LUnited = Model.LUnited
                                    };

                                <li>
                                <span  parent-id="@item.LinksFromUnited.childId">
                                    <a href="#"  onclick="expand(this)">@item.ObjFromUnited.product</a>
                                </span>
                                @await Html.PartialAsync("Tree", inner)
                                </li>
                            }
                        }
                        //@if (Model.Seed == item.LinksFromUnited.childId)//если ветвь ребенка то выводим по нему инфу в эту ветвь сразу, то есть файл в случае задания папки-файлы
                                                                          //в случае с дерево ссылок-объекты это не надо т.к. нет разделения
                        //    @if (item.ObjFromUnited.id != -1)
                        //    {
                        //        <li>
                        //            <a href="/home/FileContent?id=@item.ObjFromUnited.type">
                        //                @*await Html.PartialAsync("Icone", item.ФайлИзОбъединенной.КодТипаФайла)*@ @*не получилось вывести иконку*@
                        //                @item.ObjFromUnited.type
                        //            </a>
                        //        </li>
                        //    }
                }

        </ul>


  <script>
    //var tree=document.getElementById('tree');

    function expand(elem) 
    {
    var li = $(elem).parents('li')[0];
    var ul = $(li).children('ul')[0];
    $(ul).css('display') == 'none' ? $(ul).show() : $(ul).hide();
    }

  </script>



